@import url("http://bootswatch.com/cosmo/bootstrap.min.css");
@import url("http://bootswatch.com/yeti/bootstrap.min.css");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
    background: url("http://annycampbell.me/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top-center;
}

img {
  border-color: #232429
}


.lead, i, b {
    color: #1F1F23;
}


hr {
    border-top: 2px solid;
    margin-top: 50px;
    color: #1F1F23;
}

.thin-grey-border { 
    border-color: #1F1F23; border-width: 3px; border-style: solid; 
} 
